body {
    width: 325px;
    height: 500px;
}

#redcircle {
    width: 25px;
    height: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: red;
    float: left;
    margin: 5px;
}

#greencircle {
    width: 25px;
    height: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: greenyellow;
    float: left;
    margin: 5px;
}

#bluecircle {
    width: 25px;
    height: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: blue;
    float: left;
    margin: 5px;
}